$main-color: #9378FF;
$contents-color: #99879D;
$error-color: #F16B6F;

/*
컴포넌트별로 scss 파일을 만들면, 각 파일들이 css 파일로 컴파일된다.
scss 파일명 앞에 _를 붙이면 css 파일로 컴파일하지 않는다.
-> 분리된 scss 파일들을 main scss 파일에 import하여 사용한다.
*/
@import 'react-toastify/dist/ReactToastify.min.css';
@import 'Toastify';
@import 'Header';
@import 'Contents';
@import 'Project';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 280px;
}

// Reset CSS
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active,
form:focus,
div:focus {
    outline: none;
    box-shadow: none;
}

ul,
ol,
li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.sr-only {
    position: absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.container {
    margin: 0 auto;
}

.fill-button {
    width: 220px;
    height: 46px;
    border: none;
    border-radius: 60px;
    color:  #fff;
    background-color:$main-color;
    cursor: pointer;

    &.reverse {
        color: $main-color;
        background-color: #fff;
    }
}

// Fix container width
@media screen and (min-width: 1200px) {
    .container {
        max-width: 960px !important;
    }
}